.wrapper-order{
    border: 4px rgb(244, 146, 66) double;
    max-width: 400px;
    min-height: 300px;
    padding: 10px;
    display: block;
    margin: 30px auto;    
}
.order{
    font-weight: 500;
    font-size: 20px;
    color: rgb(47, 46, 46);
}
.error{
    color: red;
    font-size: 20px;
    text-align: center;
}
.wrapper-order input.Button{
    padding: 3px 5px;
    font-size: 15px;
    color: rgb(63, 55, 55);
    background-color: rgb(235, 208, 90);
    width: 150px;
    border-radius: 10px;
    border: 2px rgb(211, 188, 82) solid;
    margin: 15px auto;
    display: block;
}
.wrapper-order input.Button:hover {
    background-color: rgb(240, 220, 134);
}
.wrapper-order input.Button:active {
    box-shadow: 0px 0px 5px rgb(90, 70, 70) inset;
}
.wrapper-order input.Button:disabled {
    background-color: rgb(231, 219, 212);
}

@media (max-width: 440px) {
    .wrapper-order{
        margin-bottom: 45px;
    }
}

